.header {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    align-items: self-start;
    gap: 20px;
}

.profile-pic {
    height: 28px;
    width: 28px;
    /* border-radius: 99px; */
    /* background-color: black; */
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}