.header-search {
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    color: gray;
    background-color: #FAFAFA;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.search-icon {
    margin-left: 10px;
}

.header-search>input {
    margin-left: 10px;
    width: 600px;
    /* min-width: 200px; */
    outline: none;
    border: none;
    background: none;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .header-search>input {
        max-width: 200px;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .header-search>input {
        max-width: 400px;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .header-search>input {
        max-width: 500px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .header-search>input {
        max-width: 600px;
    }
}